@using PagedList.Mvc;
@using PagedList;
@model  PagedList.PagedList<doanmonhocweb.Models.Sach>

@{
    ViewBag.Title = "Tất Cả Sách";
    
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdministrator.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/AdminStyle/Adminstylesheet.css" rel="stylesheet" />
<title>Trang Quản Trị| @ViewBag.Title </title>
<div class="contentAd">
    <h2>Thống Kê Sách</h2>
    <hr />
    <p>
        @Html.ActionLink("Thêm Sách", "CreateNew", "Products")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Mã Sách")
            </th>
            <th>
                @Html.Label("Tên Sách")
            </th>
            <th>
                @Html.Label("Tác Giả")
            </th>
            <th>
                @Html.Label("Giá")
            </th>
            <th>
                @Html.Label("Giá Cửa Hàng")
            </th>
            <th>
                @Html.Label("Đơn Vị Tính")

            </th>
            <th>
                @Html.Label("Ngày Cập Nhật-")
            </th>
            <th>
                @Html.Label("Mô Tả")
            </th>
            <th>
                @Html.Label("Số Lượng Tồn")
            </th>
            <th>
                @Html.Label("Số Lượng Bán")
            </th>
            <th>
                @Html.Label("Lượt Xem")
            </th>
            <th>
                @Html.Label("Loại Bìa")
            </th>

            <th>
                @Html.Label("Ảnh Bìa")
            </th>

            <th>
                @Html.Label("Nhà Cung Cấp:")
            </th>

            <th>
                @Html.Label("Chủ Đề")
            </th>
            <th>
                @Html.Label("Nhà Xuất Bản")
            </th>
            <th>
                @Html.Label("Ngôn Ngữ Sách")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ma_Sach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_Sach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tac_Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_Vi_Tinh)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanXem)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LoaiBia)
            </td>

            <td>
                <div><img src="@Url.Content("~/Content/ImgBook/"+ item.HinhAnh)" style="width:50px; height:100px;" /></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaPhanPhoi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.TenCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NXB.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { @Ma_Sach = item.Ma_Sach }) |
                @Html.ActionLink("Chi tiết", "Detail", new { @Ma_Sach = item.Ma_Sach }) |
                @Html.ActionLink("Xóa", "Delete", new { @Ma_Sach = item.Ma_Sach })
            </td>
        </tr>
        }

    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="Pagelist">
        @Html.PagedListPager(Model, page => Url.Action("Book", new { page = page }))
    </div>

</div>
